<div class="container container--tiny container--center">
  <section class="section">
    <div class="form-control">
      <input type="text" id="new-list-title">
    </div>
    <button class="btn" id="generate-list">Generate shoping list</button>
  </section>
  <section class="section">
    <h2>Your lists:</h2>
    <ul class="list list--links">
      <li class="list__item">
        <a href="./FFrasd.html" class="link">FFrasd</a>
        <span class="link__additional">created at 22.01.2019 14:46</span>
      </li>
    </ul>
  </section>
</div>