<header class="header">
  <div class="container container--tiny">
    <h2 id="list-name"></h2>
    <a href="/" class="close-list"></a>
  </div>
</header>
<div class="container container--tiny container--center">
  <section class="section">
    <ul class="list list--checkbox" id="list-wrapper"></ul>
  </section>
  <section class="section">
    <div class="form-control">
      <input type="text" id="new-item-input">
    </div>
    <button class="btn" id="new-item-btn">Add new item</button>
  </section>
  <section class="section">
    <a class="copy-link-btn link">Copy link</a>
  </section>
</div>
<footer class="footer"></footer>
