<header class="header">
  <div class="container container--tiny"></div>
</header>
<div class="container container--tiny container--center">

  <section class="section">
    <div class="form-control">
      <input type="email" id="email-input" placeholder="Email">
    </div>
    <div class="form-control">
      <input type="password" id="password-input" placeholder="Password">
    </div>
    <button class="btn" id="login-btn" onclick="loginUser()">Login</button>
  </section>
  <section class="section">
    Haven't account yet ? 
    <a href="/#sign_up" class="link">Register</a>
  </section>

</div>
<footer class="footer"></footer>
