<header class="header">
  <div class="container container--tiny"></div>
</header>
<div class="container container--tiny container--center">

  <section class="section">
    <div class="form-control">
      <input type="text" id="login-input" placeholder="Login">
    </div>
    <div class="form-control">
      <input type="password" id="password-input" placeholder="Password">
    </div>
    <button class="btn" id="new-item-btn">Login</button>
  </section>
  <section class="section">
    Haven't account yet ? 
    <a href="/#sign_up" class="link">Register</a>
  </section>

</div>
<footer class="footer"></footer>
